on init
    mkdir /efs

on early-init
    mkdir /mnt 0775 root efs

on fs
    wait /dev/block/platform/msm_sdcc.3/by-num/p16
    check_fs /dev/block/platform/msm_sdcc.3/by-num/p16 ext4
    mount ext4 /dev/block/platform/msm_sdcc.3/by-num/p16 /efs nosuid nodev barrier=1

on post-fs-data
    chown radio system /efs
    chmod 0775 /efs
    chown radio system /efs/FactoryApp
    chmod 0775 /efs/FactoryApp
    chown radio system /efs/imei
    chmod 0770 /efs/imei
    chown radio system /efs/bluetooth
    chown radio system /efs/wifi
